<div class="countdown">
  {{#notElapsed}}<div class="time-left">
  {{#timeLeft}}<span>{{.}}</span>{{/timeLeft}}
  </div>
  <div class="static-text">until</div>{{/notElapsed}}
  <div class="event-name">{{eventName}}</div>
</div>